<div class="cardeRef">
  <mat-card class="example-card">
    <div class="header" fxLayout="row" [style]="'background:' + background">
    <span class="mat-display-1" fxFlex >
      <h1 style="font-family: cursive;">Libelle</h1>
    </span>
      <span>
      <button mat-icon-button><mat-icon>create</mat-icon></button>
    </span>
      <span>
      <button mat-icon-button (click)="deleteGroupe(IdGroupeCompetence)"><mat-icon>clear</mat-icon></button>
    </span>
    </div>
    <mat-card-content>
      <div class="presentation"  style="font-family: 'Cormorant Garamond', serif;">
       {{Description}}
      </div>
      <div class="secondContainer">
          <mat-expansion-panel>
            <mat-expansion-panel-header (click)="getValueFlex()">
              <mat-panel-title>
                Competence
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div>
                <mat-table [dataSource]="competenceModele" class="mat-elevation-z8" #comp>
                  <!-- Position Column -->
                  <ng-container matColumnDef="libelle">
                    <mat-header-cell *matHeaderCellDef style="font-family:cursive"><h1 style="font-family:cursive">Libelle</h1>  </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="font-family: 'Cormorant Garamond', serif;"> {{element.libelle}} </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="descriptif">
                    <mat-header-cell *matHeaderCellDef style="font-family:cursive"> <h1 style="font-family:cursive">Descriptif</h1></mat-header-cell>
                    <mat-cell *matCellDef="let element" style="font-family: 'Cormorant Garamond', serif;"> {{element.description}} </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
          </mat-expansion-panel>
      </div>
      <div class="secondContainer">
        <mat-expansion-panel >
          <mat-expansion-panel-header (click)="sendIdGroupeCompetence(IdGroupeCompetence)">
            <mat-panel-title>
              Programme
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <span>
              <button mat-icon-button fxFlex (click)="downloadPdf()"><mat-icon>save_alt</mat-icon></button>
              <button mat-icon-button (click)="ViewProgramme(comp.dataSource)"><mat-icon>visibility</mat-icon></button>
            </span>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="secondContainer">
        <mat-expansion-panel (click)="getValueFlex()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tags
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <mat-table [dataSource]="tagsModele" class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="libelle">
                <mat-header-cell *matHeaderCellDef> <h1 style="font-family:cursive">Libelle</h1>  </mat-header-cell>
                <mat-cell *matCellDef="let element" style="font-family: 'Cormorant Garamond', serif;"> {{element.libelle}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="descriptif">
                <mat-header-cell *matHeaderCellDef> <h1 style="font-family:cursive">Descriptif</h1> </mat-header-cell>
                <mat-cell *matCellDef="let element" style="font-family: 'Cormorant Garamond', serif;"> {{element.descriptif}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-card-content>
  </mat-card>

</div>
