<div class="cardeRef">
  <mat-card class="example-card">
    <div class="header" fxLayout="row">
    <span class="mat-display-1" fxFlex>
       Libelle
    </span>
      <span>
      <button mat-icon-button><mat-icon>create</mat-icon></button>
    </span>
      <span>
      <button mat-icon-button><mat-icon>clear</mat-icon></button>
    </span>
    </div>
    <mat-card-content>
      <div class="presentation">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, consequatur?
      </div>
      <div class="secondContainer">
         Competence
      </div>
      <div class="secondContainer">
        Programme
      </div>
      <div class="secondContainer">
        Tags
      </div>
    </mat-card-content>
  </mat-card>

</div>
