<div class="listCompetence"  fxLayout="row" fxLayoutAlign="center center">

  <div class="comp">
    <div fxLayout="row" fxLayoutAlign="start center" >

      <div class="competences">

        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field>
            <mat-label>Développer le front d'une application</mat-label>
            <mat-select >
              <mat-option value="Homme">Développer le front d'une application</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <ul>
            <li>
              <button mat-raised-button color="primary"><h3 >Maquetter une application</h3></button>

            </li>
            <li>

              <button mat-raised-button><h3 >Développer une interface web dynamique</h3></button>
            </li>
            <li>

              <button mat-raised-button><h3>Réaliser une interface avec un CMS</h3></button>
            </li>
            <li>

              <button mat-raised-button><h3>Réaliser une interface web responsive</h3></button>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="niv1">
    <div class="myheader">
      <span>
        <button mat-raised-button color="primary">Niveau 1</button>
        <button mat-raised-button>Niveau 2</button>
        <button mat-raised-button>Niveau 3</button>
      </span>
    </div>
    <strong>

    <h2>
     <p style="color: red; font-weight: bold">Groupe d'actions à réaliser</p>
      A partir d'un schéma physique
      de données et dans le contexte
      d'un besoin client décrit, créer
      une base de données sur un
      SGBD désigné.
    </h2>
    </strong>
  </div>
  <div class="niv2">
    <strong>

      <h2>
        <p style="color: red; font-weight: bold">Critères d'évaluation</p>
        La BD est créée à l'aide d'un
        script sans erreur et les
        données sont insérées à l'aide
        d'un script sans erreur
      </h2>
    </strong>
  </div>

</div>
