.listCompetence{
  width: auto;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
.comp{
  width: auto;
  height: auto;
  border:2px solid #CCC;
}
.aroundAdmin{
  border:2px solid #CCC;
  width: auto;
  font-weight: bold;
  text-align: center;
  height: auto;

}
.vertical-line{
  border:2px solid #CCC;
  height: 5vh;
}
.niv1{
  width: auto;
  height: auto;
  text-align: center;
  border:2px solid #CCC;
}
.niv2{
  width: auto;
  height: auto;
  text-align: center;
  border:2px solid #CCC;
}
li{
  list-style: none;
  padding: 5px;
}
.myheader,button{
  margin: 5px;
  border:2px solid #CCC;
}
.myheader{
  border:2px solid #CCC;
}
mat-form-field{
  width:100%;
  margin:3px;
}
.copeten {
  margin: 12px;
  display: block;
  border: none;
  font-weight:bold;
}
/*aniamtion text*/

