<div class="listCompetence"  >

  <div class="comp">
    <div fxLayout="row" fxLayoutAlign="start center" >

      <div class="competences">

        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field>
            <mat-label> Choisir Groupe Competence</mat-label>
            <mat-select >
              <mat-option value="{{grpCompet.libelle}}" (click)="getMyGroupeCompetence(grpCompet.competence)" *ngFor="let grpCompet of grpCompetence" style="font-family: 'Cormorant Garamond', serif;">{{grpCompet.libelle}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <ul >
            <li>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="copeten" >
                <mat-button-toggle class="copeten" (click)="getNiveau(competen.niveaux,monBol)" *ngFor="let competen of competence"><h3 ><button mat-raised-button style="font-family: 'Cormorant Garamond', serif;">{{competen.libelle }}</button></h3></mat-button-toggle>
              </mat-button-toggle-group>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="niv1" *ngIf="monBol">
    <div class="myheader">
      <span>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold" (click)="getCrictere(niv.crictereDevaluation, niv.groupeDaction)" *ngFor="let niv of niveau"><button mat-raised-button  style="font-family: 'Cormorant Garamond', serif;">{{niv.libelle}}</button></mat-button-toggle>
  </mat-button-toggle-group>
      </span>
    </div>
    <strong>

    <h2 style="font-family: 'Cormorant Garamond', serif;">
     <p style="color: red; font-weight: bold">Groupe d'actions à réaliser</p>
    {{groupeDaction}}
    </h2>
    </strong>
  </div>
  <div class="niv2" *ngIf="monBol">
    <strong>

      <h2 style="font-family: 'Cormorant Garamond', serif;">
        <p style="color: red; font-weight: bold">Critères d'évaluation</p>
     {{crictereDevaluation}}
      </h2>
    </strong>
  </div>

</div>
