label{
  font-weight: bold;
  font-size: 15px;
  width: 15%;
  height: 10%;
  margin: 20px;
}
mat-form-field{
  width: 50%;
}
mat-card{
  width: 70%;
}
.avatar{
  width: 30%;
  height: 10vh;
}
img{
  width: 100%;
  border-radius: 50%;
}
.addUser{
display: flex;
}
form{
  width: 100%;
  display: flex;
}
