<div class="addCom">
  <form [formGroup]="ajoutCompetenceForm" (ngSubmit)="addCompetence()">
  <div fxLayout="row" fxLayoutAlign="center center">
    <label>Groupe de compétences</label>
    <mat-form-field>
      <mat-label>Créer une base de données</mat-label>
      <mat-select formControlName="groupeCompetences">
        <mat-option [value]="['api/admin/groupe_competences/' + grpComp.id]" *ngFor="let grpComp of grpCompetence">{{grpComp.libelle}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <label>Libellé</label>
    <mat-form-field>
      <label>
        <input type="text" formControlName="libelle" matInput value="Créer une base de données">
      </label>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <label>Description</label>
    <mat-form-field>
      <label>
        <textarea matInput formControlName="description"></textarea>
      </label>
    </mat-form-field>
  </div>
  <div class="listCompetence"  fxLayout="row" fxLayoutAlign="center center" formArrayName="niveaux" >
    <div>
    <mat-tab-group animationDuration="1000" >
      <mat-tab label="Niveau_1" >
        <form [formGroup]="niveau1" (ngSubmit)="addCompetence()">
          <div fxLayout="row" fxLayoutAlign="center center">
            <label>
              <input type="hidden" formControlName="libelle" value="Niveau_1">
            </label>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center">

            <div class="grpAct">
              <h2><p style="color: red; font-weight: bold">Groupe d'actions</p></h2>
              <mat-form-field class="matNiv">
                <label>
                  <textarea formControlName="groupeDaction" matInput></textarea>
                </label>
              </mat-form-field>
            </div>

            <div class="crictEv">
              <h2><p style="color: red; font-weight: bold">Critères d'évaluation</p></h2>
              <mat-form-field class="matNiv">
                <label>
                  <textarea formControlName="crictereDevaluation" matInput></textarea>
                </label>
              </mat-form-field>
            </div>
          </div>
        </form>


      </mat-tab>
      <mat-tab label="Niveau_2" >

        <form [formGroup]="niveau2" (ngSubmit)="addCompetence()">
          <div fxLayout="row" fxLayoutAlign="center center">
            <label>
              <input formControlName="libelle" type="hidden"  value="Niveau_2">
            </label>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center">

            <div class="grpAct">
              <h2><p style="color: red; font-weight: bold">Groupe d'actions</p></h2>
              <mat-form-field class="matNiv">
                <label>
                  <textarea formControlName="groupeDaction" matInput></textarea>
                </label>
              </mat-form-field>
            </div>

            <div class="crictEv">
              <h2><p style="color: red; font-weight: bold">Critères d'évaluation</p></h2>
              <mat-form-field class="matNiv">
                <label>
                  <textarea formControlName="crictereDevaluation" matInput></textarea>
                </label>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Niveau_3">

        <form [formGroup]="niveau3" (ngSubmit)="addCompetence()">
          <div fxLayout="row" fxLayoutAlign="center center">
            <label>
              <input formControlName="libelle" type="hidden"  value="Niveau_3">
            </label>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center">

            <div class="grpAct">
              <h2><p style="color: red; font-weight: bold">Groupe d'actions</p></h2>
              <mat-form-field class="matNiv">
                <label>
                  <textarea formControlName="groupeDaction" matInput></textarea>
                </label>
              </mat-form-field>
            </div>

            <div class="crictEv">
              <h2><p style="color: red; font-weight: bold">Critères d'évaluation</p></h2>
              <mat-form-field class="matNiv">
                <label>
                  <textarea formControlName="crictereDevaluation" matInput></textarea>
                </label>
              </mat-form-field>
            </div>
          </div>
        </form>

      </mat-tab>
    </mat-tab-group>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary">Soumettre</button>
  </div>
  </form>
</div>
