<div class="addCom">
  <div fxLayout="row" fxLayoutAlign="center center">
    <label>Groupe de compétences</label>
    <mat-form-field>
      <mat-label>Créer une base de données</mat-label>
      <mat-select >
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <label>Libellé</label>
    <mat-form-field>
      <input type="text" matInput value="Créer une base de données">
    </mat-form-field>
  </div>
  <div class="listCompetence"  fxLayout="row" fxLayoutAlign="center center">
  <div class="niv1">
    <div class="myheader">
      <span>
        <button mat-raised-button color="primary">Niveau 1</button>
        <button mat-raised-button>Niveau 2</button>
        <button mat-raised-button>Niveau 3</button>
      </span>
    </div>
    <strong>

      <h2>
        <p style="color: red; font-weight: bold">Groupe d'actions à réaliser</p>
        A partir d'un schéma physique
        de données et dans le contexte
        d'un besoin client décrit, créer
        une base de données sur un
        SGBD désigné.
      </h2>
    </strong>
  </div>
  <div class="niv2">
    <strong>

      <h2>
        <p style="color: red; font-weight: bold">Critères d'évaluation</p>
        La BD est créée à l'aide d'un
        script sans erreur et les
        données sont insérées à l'aide
        d'un script sans erreur
      </h2>
    </strong>
  </div>
</div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary">Soumettre</button>
  </div>
</div>
