table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  padding: 13px;
}

td, th {
  width: 25%;
}
.maclassList{
  width:auto;
  height:auto;
}
.divdown{
  width: 100%;
  height: auto;
}
.dessi{
  background: green;
  width:100px;
  height:100px;
}
