<div class="maclassList">
  <table mat-table [dataSource]="users" class="mat-elevation-z8">

    <ng-container matColumnDef="{{col}}" *ngFor="let col of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="col !== '$$edit' && col !== '$$supp' && col !== '$$liste' && col!=='$$cEtudiant' "  >
          <h1 style="font-family: cursive;">{{col}}</h1>
        </span>
      </th>
      <td mat-cell *matCellDef="let element" >
        <div *ngIf="!element.isEdit">
          <div  *ngIf="col === '$$edit'" style="">
            <button mat-icon-button (click)="element.isEdit = !element.isEdit"><mat-icon>update</mat-icon></button>
          </div>
          <span #spanHeader *ngIf="col !== 'photo' && col !== 'profile'"  style="font-family: 'Cormorant Garamond', serif;">
            {{element[col]}}
          </span>
          <span *ngIf="col === 'photo'" #spanHeader>
             <img  src="{{'data:image/jpeg;base64,' + element[col]}}" width="150px" alt="{{element.username}}">
          </span>
          <span #spanHeader *ngIf=" col == 'profile'">
              {{element.profils.libelle}}
          </span>
        </div>
        <div  *ngIf="col === '$$supp'" >
          <button mat-icon-button (click)="deleteUser(element.id)" ><mat-icon>delete</mat-icon></button>
        </div>
        <div  *ngIf="col === '$$liste'">
          <button mat-icon-button  [disabled]="element.profils.libelle === 'Administrateur' || element.profils.libelle === 'Formateur' || element.profils.libelle === 'Community Manager' " (click)="getIdUser(element.id)" ><mat-icon>visibility</mat-icon></button>
        </div>
        <div *ngIf="element.isEdit">
          <div  *ngIf="col === '$$edit'; else dataField" style="">
            <button mat-icon-button (click)="element.isEdit = !element.isEdit" ><mat-icon (click)="onUpdate(element.id)">done_outline</mat-icon></button>
          </div>
          <form>
          <ng-template #dataField>
            <mat-form-field *ngIf="col !== '$$supp' && col !=='$$liste' && col !== 'photo'  && col !== 'profile' && col !=='$$cEtudiant' " >
              <mat-label>{{col}}</mat-label>
              <label>
                <input #valuiNP matInput [type]="'dataSchema[col]'" (change)="getModif(col,valuiNP.value,element.id)"  placeholder="{{element[col]}}">
              </label>
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="col !== '$$supp' && col !=='$$liste'  && col === 'photo'">
              <mat-label>Basic fill input</mat-label>
              <ngx-mat-file-input #photoValu placeholder="Basic fill placeholder" accept="image/*" appUpload (onChnageFile)="uploadFile($event)" ></ngx-mat-file-input>

            </mat-form-field>
          </ng-template>
          </form>
        </div>
        <div *ngIf="col ==='$$cEtudiant' ">
          <button mat-icon-button (click)="genereCarteEtudiant(element)"  color="warn"><mat-icon>contacts</mat-icon></button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="example-container mat-elevation-z8">
        <span  fxLayout="row" fxLayoutAlign="center center">
         <button mat-raised-button [disabled]="!disableBtnP" (click)="preview()">
        <mat-icon >fast_rewind</mat-icon>
      </button>
       <button mat-raised-button class="divmine" [disabled]="disableBtnN" (click)="next()">
        <mat-icon >fast_forward</mat-icon>
      </button>
    </span>
  </div>
</div>
<div class="seeDetails mat-elevation-z8 divdown" *ngIf="showdiv">
<app-item-utilisateur-details [IdUser]="userId">
</app-item-utilisateur-details>
</div>
<div class="carteEtudiant" *ngIf="carteEbool" id="htmData">
  <mat-card class="example-card" >
    <div>
      <div mat-card-avatar class="example-header-image"><img src="assets/img/sonatel.png" width="100" alt="Sonatel Academi" fxFlex="80%">
      </div>
      <h3><p>SONATEL ACADEMY</p></h3>
    </div>
    <div>
      <p style="float:right">
        <img  src="{{'data:image/jpeg;base64,' + userCarte.photo}}" width="150px" alt="{{userCarte.username}}">
      </p>
      <mat-divider></mat-divider>
      <p style="font-weight: bold">Username</p>
      <span>{{userCarte.username}}</span>
      <mat-divider></mat-divider>
      <p style="font-weight: bold">Email</p>
      <span>{{userCarte.email}}</span>
      <mat-divider></mat-divider>
      <p style="font-weight: bold">Profile</p>
      <span>{{userCarte.profils.libelle}}</span>
      <mat-divider></mat-divider>
      <span>
        <ngx-qrcode
          [elementType]="elementType"
          [errorCorrectionLevel]="correctionLevel"
          [value]="value"
          cssClass="bshadow"></ngx-qrcode>
      </span>
      <mat-divider></mat-divider>
    </div>
  </mat-card>
</div>

