table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  padding: 13px;
}

td, th {
  width: 25%;
}
.maclassList{
  width:auto;
  height:auto;
}
.divdown{
  width: 100%;
  height: auto;
}
.dessi{
  background: green;
  width:100px;
  height:100px;
}
.carteEtudiant{
  border:2px solid #CCC;
  width:50%;
  height:auto;
  margin:0 auto;
}
.bshadow {

  float:left;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
  opacity: .5;

}
