<div class="cardeRef">
  <mat-card class="example-card">
    <div class="header" fxLayout="row" [style]="'background:' + background">
    <span class="mat-display-1" fxFlex>
       {{libelle}}
    </span>
      <span>
      <button mat-icon-button><mat-icon>create</mat-icon></button>
    </span>
      <span>
      <button mat-icon-button><mat-icon>clear</mat-icon></button>
    </span>
    </div>
    <mat-card-content>
      <div class="presentation">
        {{presentation}}
      </div>
      <div class="secondContainer">
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="getValueFlex()">
            <mat-panel-title>
              Groupe de competence
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <mat-table [dataSource]="grpcompetenceModele" class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="libelle">
                <mat-header-cell *matHeaderCellDef> Libelle </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.libelle}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="descriptif">
                <mat-header-cell *matHeaderCellDef> Descriptif </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="secondContainer">
        Programme
      </div>
      <div class="secondContainer">
        {{ Cricteredevaluation}}
      </div>
      <div class="secondContainer">
        {{Cricteredadmission}}
      </div>
    </mat-card-content>
  </mat-card>

</div>
