<mat-card class="example-card">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card-title><h2>Créer une promotion</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>

      <div fxLayout="row" fxLayoutAlign="start center" >
        <label>Choix du language *</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <mat-label>CHOIX DU LANGUAGE </mat-label>
          <mat-select >
            <mat-option value="Homme">FRANCAIS</mat-option>
            <mat-option value="Homme">ANGLAIS</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <label>Titre</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <label>
            <input type="text" matInput>
          </label>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <label>Description de la promotion</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <label>
<textarea matInput>

</textarea>
          </label>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <label>Lieu de la promotion</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <label>
            <input type="text" matInput>
          </label>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <label>Reference Agate</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <label>
            <input type="text" matInput>
          </label>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" >
        <label>Choix de la fabrique *</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <mat-label>CHOIX DE LA FABRIQUE </mat-label>
          <mat-select >
            <mat-option value="Homme">SONATEL ACADEMY</mat-option>
            <mat-option value="Homme">SIMPLON</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">

        <label>Date de debut *</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <label>
            <input type="date" matInput>
          </label>
        </mat-form-field>

        <label>Date de Fin *</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <label>
            <input type="date" matInput>
          </label>
        </mat-form-field>
      </div>


      <div fxLayout="row" fxLayoutAlign="space-around center">
        <label>Referentiel *</label>
      <div class="ref">
        <div class="refin">
          <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile >
              <mat-button-toggle value="bold">DEVELOPPEUR WEB ET MOBILE</mat-button-toggle>
            </mat-grid-tile>
            <mat-grid-tile>

              <mat-button-toggle value="bold">REALISER UN SITE INTERNET
                <br>A PARTIR DE WORDPRESS</mat-button-toggle>
            </mat-grid-tile>
            <mat-grid-tile>

              <mat-button-toggle value="bold">CODER ET DEPLOYER UNE <br> APPLICATION WEB SIMPLE</mat-button-toggle>
            </mat-grid-tile>
            <mat-grid-tile fxHide.sm fxHide.md>

              <mat-button-toggle value="bold">REFRENT E DIGITAL</mat-button-toggle>
            </mat-grid-tile>
            <mat-grid-tile fxHide.sm fxHide.md>

              <mat-button-toggle value="bold">COMPETENCE NUMERIQUES <br> FONDAMENTALES</mat-button-toggle>
            </mat-grid-tile>
            <mat-grid-tile fxHide.sm fxHide.md>

              <mat-button-toggle value="bold">TECHNICIEN D'ASSISTANCE <br> INFORMATIQUE</mat-button-toggle>
            </mat-grid-tile>
            <mat-grid-tile fxHide.sm fxHide.md >

              <mat-button-toggle  value="bold"> OBJETS CONNECTES</mat-button-toggle>
            </mat-grid-tile>
            <mat-grid-tile fxHide.sm fxHide.md>

              <mat-button-toggle value="bold">DEVELOPPEUR DATA</mat-button-toggle>
            </mat-grid-tile>
            <mat-grid-tile fxHide.sm fxHide.md>

              <mat-button-toggle value="bold">DEVELOPPEUR DATA ET <br>INTELLIGENCE ARTIFICIELLE</mat-button-toggle>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

      </div>

      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <label></label>
        <div class="imgpromo" appUpload (onFileDropped)="uploadFile($event)" >
          <div  fxLayoutAlign="space-around center">
            <span style="text-align: center">faite glisser une image ou</span>
            <button type="button" mat-button color="warn"  (click)="filInput.click()">
              <mat-icon>file_upload</mat-icon>
              Upload
            </button>
            <br/>
            <input type="file" #filInput name="fileUpload" multiple="multiple" style="display:none;"/>
          </div>
        </div>
      </div>
  </mat-card-content>
</mat-card>
<mat-card class="example-card" fxLayout="row" fxLayoutAlign="center center">
  <div class="addApp">
    <div class="adminDiv">
      <div fxLayout="row"  fxFlexAlign="center center">
        <div class="divCenter mat-display-1">Ajouter des apprenants</div>
      </div>
      <div class="matCardeDiv">
        <div>
          <label >Adresse email *</label>
          <mat-form-field class="ema">
            <label>
              <input type="email" matInput value="nom@domaine.com">
            </label>
          </mat-form-field>
        </div>
        <div class="myCadre" fxLayout="row" fxLayoutAlign="start start">
          <span class="aroundAdminnew">
            example@mail.co
            <button mat-icon-button><mat-icon>clear</mat-icon></button>
          </span>
          <div class="aroundAdminnew">
            ngonendiaye@gmail.co
            <button mat-icon-button><mat-icon>clear</mat-icon></button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <span class="vertical-linenew"></span>
  <div class="listApp">
    <div class="adminDiv">
      <div fxLayout="row"  >
        <div class="divCenter" fxFlexAlign="start center">
          <h2>Liste des apprenants</h2>
          <div>
           <span style="color: blue">02 apprenants en attente</span>
            <div>
              <div>example@mail.com</div>
              <span>ngonendiaye@gmail.co</span>
            </div>
          </div>
        </div>
        <div class="divCenter" fxFlexAlign="end center">
          <button mat-raised-button style="background: green;">Charger un fichier cvs</button>
          <div>
            <div>
              <button mat-raised-button style="background: lawngreen; margin: 5px">Relancer toutes les invitations</button>
            </div>
            <div>
              <button mat-raised-button style="background: lawngreen; margin: 5px">Relancer l'invitation</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
