<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup"  errorMessage="Tous les champs sont obligatoires *.">
    <form [formGroup]="firstFormGroup" >
      <ng-template matStepLabel>Creer Une Promotion</ng-template>
<mat-card class="example-card">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card-title><h2>Créer une promotion</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>

      <div fxLayout="row" fxLayoutAlign="start center" >
        <label>Choix du language *</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <mat-label>CHOIX DU LANGUAGE </mat-label>
          <mat-select formControlName="langue">
            <mat-option value="Francais">FRANCAIS</mat-option>
            <mat-option value="Anglais">ANGLAIS</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <label>Titre</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <label>
            <input type="text" formControlName="titre" matInput>
          </label>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <label>Description de la promotion</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <label>
<textarea matInput formControlName="description">

</textarea>
          </label>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <label>Lieu de la promotion</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <label>
            <input type="text" formControlName="lieu" matInput>
          </label>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" >
        <label>Choix de la fabrique *</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <mat-label>CHOIX DE LA FABRIQUE </mat-label>
          <mat-select formControlName="fabrique">
            <mat-option value="Sonatel Academy">SONATEL ACADEMY</mat-option>
            <mat-option value="Simplon Online">SIMPLON</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">

        <label>Date de debut *</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <label>
            <input type="date" formControlName="dateDebut" matInput>
          </label>
        </mat-form-field>

        <label>Date de Fin *</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <label>
            <input type="date" formControlName="dateFinReelle" matInput>
          </label>
        </mat-form-field>

        <label>Date de Fin Provisoire*</label>
        <span class="vertical-line"></span>
        <mat-form-field>
          <label>
            <input type="date" formControlName="dateFinProvisoire" matInput>
          </label>
        </mat-form-field>
      </div>


      <div fxLayout="row" fxLayoutAlign="space-around center">
        <label>Referentiel *</label>
      <div class="ref">
        <div class="refin">
          <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile *ngFor="let ref of referentiel">
              <mat-button-toggle  (change)="tes(ref,$event.source,ref.id)">
                {{ref.libelle}}
                <input type="hidden" formControlName="referentiels" >
              </mat-button-toggle>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      <div>
        <span  fxLayout="row" fxLayoutAlign="center center">
         <button mat-raised-button type="button" [disabled]="!disableBtnP" (click)="preview()">
        <mat-icon >fast_rewind</mat-icon>
      </button>
       <button mat-raised-button type="button" class="divmine" [disabled]="disableBtnN" (click)="next()">
        <mat-icon >fast_forward</mat-icon>
      </button>
    </span>
      </div>
      </div>

      </div>

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <label></label>
        <div class="imgpromo" appUpload (onFileDropped)="uploadFile($event)">
          <div  fxLayoutAlign="space-around center">
            <span style="text-align: center">faite glisser une image ou</span>
            <button type="button" mat-button color="warn"  (click)="filInput.click()">
              <mat-icon>file_upload</mat-icon>
              Upload
            </button>
            <br/>
            <input type="file" #filInput name="fileUpload" formControlName="avatar" appUpload (onChnageFile)="uploadFile($event)" multiple="multiple" style="display:none;"/>
          </div>
        </div>
      </div>
  </mat-card-content>
</mat-card>
      <div>
        <button mat-raised-button matStepperNext color="primary">Suivant</button>
      </div>
    </form>
  </mat-step>
<mat-step [stepControl]="secondFormGroup" errorMessage="Address is required." fxLayout="row">
  <form [formGroup]="secondFormGroup" >
    <ng-template matStepLabel >Ajouter Des Apprenants</ng-template>
<mat-card class="example-card">
  <div class="listAPP">

  <mat-tab-group animationDuration="1000">

      <mat-tab *ngFor="let ref of referentielon" label="{{ref.libelle}}">
        <div class="addAPP">
          <h1>Ajouter des apprenants</h1>
          <mat-form-field class="example-chip-list">
            <mat-label>Adresse Email</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection" formControlName="email">
              <mat-chip *ngFor="let fruit of fruits"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="remove(fruit)">
                {{fruit.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <label>
                <input placeholder="Adresse Email"
                       #fruitInput
                       [formControl]="fruitCtrl"
                       [matChipInputFor]="chipList"
                       [matAutocomplete]="auto"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)"
                       type="email">
              </label>
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" >
              <mat-option *ngFor="let ap of tabA" [value]="ap">
                {{ap}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <p>
      <button mat-button (click)="sendEmailAndAddAppRef(ref.id)">Ajouter</button>
           </p>
        </div>
  <div class="mListApp">
    <span><h1>Liste des Apprenants</h1></span>
    <button mat-raised-button color="primary" style="float:right" (click)="fiLcVS.click()">Charger fichier cvs</button>
    <input type="file" #fiLcVS name="fileUpload"  appUpload (onChnageFile)="uploadFileCVS($event)" multiple="multiple" style="display:none;"/>
    <span>
          {{tabApprenant.length}} Apprenant en attente <button mat-button color="accent" (click)="sendEmailAndAddAppRef(ref.id)">Relancer toutes les invitations</button>
        </span>
    <p *ngFor="let a of tabApprenant">
      {{a}}
      <button mat-button (click)="sendEmail(ref.id,[a])">Relancer l'invitation</button>
    </p>
  </div>

      </mat-tab>
  </mat-tab-group>
  </div>
</mat-card>
    <div>
      <button mat-raised-button matStepperPrevious color="accent" style="margin:3px">Precedent</button>
      <button mat-raised-button matStepperNext color="primary">Suivant</button>
    </div>
  </form>
</mat-step>
  <mat-step>
    <ng-template matStepLabel>Terminer</ng-template>
    <div>
      <button mat-raised-button matStepperPrevious color="accent" style="margin:3px">Retour</button>
      <button mat-button (click)="addPromo()">Creer Promo</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
