<mat-table [dataSource]="user" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="genre">
    <mat-header-cell *matHeaderCellDef ><h1 style="font-family: cursive;">Genre</h1>  </mat-header-cell>
    <mat-cell *matCellDef="let element"  style="font-family: 'Cormorant Garamond', serif;"> {{element.genre}} </mat-cell>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="profile">
    <mat-header-cell *matHeaderCellDef> <h1 style="font-family: cursive;">Profile</h1> </mat-header-cell>
    <mat-cell *matCellDef="let element"  style="font-family: 'Cormorant Garamond', serif;"> {{element.profils.libelle}} </mat-cell>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="profilSortie">
    <mat-header-cell *matHeaderCellDef> <h1 style="font-family: cursive;">Profile de sortie </h1></mat-header-cell>
    <mat-cell *matCellDef="let element"  style="font-family: 'Cormorant Garamond', serif;"> {{element.profilSortie.libelle}} </mat-cell>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="adresse">
    <mat-header-cell *matHeaderCellDef><h1 style="font-family: cursive;">Adresse</h1>  </mat-header-cell>
    <mat-cell *matCellDef="let element"  style="font-family: 'Cormorant Garamond', serif;"> {{element.adresse}} </mat-cell>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="telephone">
    <mat-header-cell *matHeaderCellDef> <h1 style="font-family: cursive;">Telephone</h1> </mat-header-cell>
    <mat-cell *matCellDef="let element"  style="font-family: 'Cormorant Garamond', serif;"> {{element.telephone}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="statut">
    <mat-header-cell *matHeaderCellDef> <h1 style="font-family: cursive;">Statut</h1> </mat-header-cell>
    <mat-cell *matCellDef="let element"  style="font-family: 'Cormorant Garamond', serif;"> {{element.statut}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="groupe">
    <mat-header-cell *matHeaderCellDef> <h1 style="font-family: cursive;">Groupes</h1> </mat-header-cell>
    <mat-cell *matCellDef="let element" style="display: block;">
      <div>
        <table>
          <tr>
            <th>Nom</th>
            <th>Statut</th>
            <th>Type</th>
          </tr>
          <tr  *ngFor="let group of element.groupes">
            <td>{{group.nom}}</td>
            <td>{{group.status}}</td>
            <td>{{group.typeDeGroupe}}</td>
          </tr>
        </table>
      </div><br>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
