<mat-table [dataSource]="user" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="genre">
    <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.genre}} </mat-cell>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="profile">
    <mat-header-cell *matHeaderCellDef> Profile </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.profils.libelle}} </mat-cell>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="profilSortie">
    <mat-header-cell *matHeaderCellDef> Profile de sortie </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.profilSortie.libelle}} </mat-cell>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="adresse">
    <mat-header-cell *matHeaderCellDef> Adresse </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.adresse}} </mat-cell>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="telephone">
    <mat-header-cell *matHeaderCellDef> Telephone </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.telephone}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="statut">
    <mat-header-cell *matHeaderCellDef> Statut </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.statut}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="groupe">
    <mat-header-cell *matHeaderCellDef> Groupes </mat-header-cell>
    <mat-cell *matCellDef="let element" style="display: block;">
      <div>
        <table>
          <tr>
            <th>Nom</th>
            <th>Statut</th>
            <th>Type</th>
          </tr>
          <tr  *ngFor="let group of element.groupes">
            <td>{{group.nom}}</td>
            <td>{{group.status}}</td>
            <td>{{group.typeDeGroupe}}</td>
          </tr>
        </table>
      </div><br>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
