<div class="adminDiv">
  <div fxLayout="row"  fxFlexAlign="center center" class="listRef">
    <div  class="aroundAdmin" >admin</div>
    <div class="divCenter mat-display-1">Liste des referentiels</div>
    <div>
      <button mat-icon-button routerLink="/add-referentiel"><mat-icon>person_add_alt_1</mat-icon></button></div>
  </div>
  <div class="matCardeDiv">
    <app-item-referentiels
      *ngFor="let item of referentiel; let i=index"  [index]="i"
      [presentation]="item.presentation"
      [Cricteredadmission]="item.cricterDadmissions"
      [Cricteredevaluation]="item.cricterDevaluations"
      [libelle]="item.libelle"
      [programme]="item.programme"
      [grpcompetenceModele]="item.groupeCompetence"
      (getvalueFlex)="getvalue($event)"
      [idRef]="item.id"
      (loadRef)="getLoadRef($event)"
      fxFlex="{{valueFlex}}"></app-item-referentiels>

  </div>
  <div>
        <span  fxLayout="row" fxLayoutAlign="center center">
         <button  mat-raised-button type="button" [disabled]="!disableBtnP" (click)="preview()">
        <mat-icon >fast_rewind</mat-icon>
      </button>
       <button mat-raised-button type="button" class="divmine" [disabled]="disableBtnN" (click)="next()">
        <mat-icon >fast_forward</mat-icon>
      </button>
    </span>
  </div>
</div>

