<div class="addRef">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><img src="assets/img/sonatel.png" width="100" alt="Sonatel Academi" fxFlex="80%">
      </div>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center" >
        <label>Libelle</label>
        <mat-form-field>
          <input type="text" matInput value="Développer le back-end d’une application web">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" >
        <label>Descriptif</label>
        <mat-form-field>
          <textarea matInput value="Donner le Descriptif"></textarea>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" >
        <label>Competence</label>
        <div class="competences">
          <mat-form-field class="example-chip-list">
            <mat-label>Favorite Fruits</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip
                *ngFor="let fruit of fruits"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(fruit)">
                {{fruit}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="New fruit..."
                #fruitInput
                [formControl]="fruitCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                {{fruit}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>

      </div>

      <div fxLayout="row" fxLayoutAlign="start center" >
        <label></label>
        <button mat-raised-button color="primary">Soumettre</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
